# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/

# Database files
*.db
*.db-journal

# Log files
/logs/
*.log

# Go module files
/go.sum
/go.mod

# IDE files
.idea/
.vscode/
*.swp

# Environment files
.env
.env.local

# Debug files
debug

# Test coverage
coverage.txt
profile.out 